Repository eliascsu/transit-availability-switzerland: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/backend-project" --dockerfile "${CI_PROJECT_DIR}/backend-project/Dockerfile" --destination "${IMAGE_NAME}-backend:${CI_COMMIT_REF_NAME}"

build_frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/react-frontend" --dockerfile "${CI_PROJECT_DIR}/react-frontend/Dockerfile" --destination "${IMAGE_NAME}-frontend:${CI_COMMIT_REF_NAME}"

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

help help help
  react-frontend/src/pages/components/Checkboxes.tsx
  react-frontend/src/pages/components/descriptions/HeatMap_desc.tsx
  react-frontend/src/pages/components/index.tsx
  react-frontend/src/pages/components/maps/Heatmap.tsx
  react-frontend/src/pages/css/content.css
  react-frontend/src/pages/css/pages.css
Due: build_frontend

custom to guidelines
  react-frontend/src/pages/components/descriptions/CustomDesc.tsx
Due: build_frontend

First version of dark/light button
  react-frontend/src/App.css
  react-frontend/src/App.tsx
  react-frontend/src/pages/ContentPage.tsx
  react-frontend/src/pages/components/ScrollToButton.tsx
  react-frontend/src/pages/css/content.css
Due: build_frontend

expanded text a bit
  react-frontend/src/pages/components/descriptions/CustomDesc.tsx
Due: build_frontend

centered title
  react-frontend/src/pages/ContentPage.tsx
  react-frontend/src/pages/css/content.css
Due: build_frontend

missing id
  react-frontend/src/pages/ContentPage.tsx
Due: build_frontend

Update Dockerfile
  react-frontend/Dockerfile
Due: build_frontend

ph9iesogauiero
  crawler/calc_coverage.py
  crawler/main.py
Due: none

ahhhhhhhhhhhhhhhhhhhhhhhhh
  react-frontend/src/pages/css/content.css
Due: build_frontend

Dark Light Mode Button update
  react-frontend/src/pages/ContentPage.tsx
  react-frontend/src/pages/components/DarkLightButton.tsx
  react-frontend/src/pages/css/content.css
  react-frontend/src/pages/css/pages.css
  react-frontend/src/svg/moon_outline_icon.svg
  react-frontend/src/svg/sun_icon.svg
Due: build_frontend

Title update
  react-frontend/public/index.html
Due: build_frontend

Footer brokey :(
  react-frontend/src/pages/css/content.css
Due: build_frontend

milch oder so
  backend-project/data/user-pt-stops.geojson
Due: build_backend

interactive line legend
  react-frontend/src/pages/css/content.css
Due: build_frontend

interactive page
  backend-project/data/user-pt-stops.geojson
  react-frontend/src/pages/css/content.css
Due: build_backend, build_frontend

add info icon
  react-frontend/src/pages/components/maps/PtMap.tsx
  react-frontend/src/svg/info_icon.svg
Due: build_frontend

color update
  react-frontend/src/pages/css/content.css
  react-frontend/src/pages/css/popup.css
Due: build_frontend

CSS Update
  react-frontend/src/App.css
  react-frontend/src/App.tsx
  react-frontend/src/pages/css/pages.css
  react-frontend/src/pages/css/popup.css
Due: build_frontend

meow
  react-frontend/src/App.tsx
Due: build_frontend

Update README with everything we did
  README.md
Due: none

miau
  README.md
Due: none

phzELIHO9EWTUAUZo
  README.md
  react-frontend/src/pages/components/Checkboxes.tsx
  react-frontend/src/pages/css/content.css
Due: build_frontend

add info saüpdfoj
  react-frontend/src/pages/components/maps/Heatmap.tsx
Due: build_frontend

Final Attribution Page light style
  react-frontend/src/App.css
  react-frontend/src/pages/AttributionsPage.tsx
  react-frontend/src/pages/ContentPage.tsx
  react-frontend/src/pages/css/attributions.css
  react-frontend/src/pages/css/content.css
  react-frontend/src/pages/css/leaflet.css
  react-frontend/src/svg/back_chevron_black.svg
  react-frontend/src/svg/back_chevron_white.svg
  react-frontend/src/svg/react_router_dark.svg
  react-frontend/src/svg/react_router_light.svg
Due: build_frontend

fix instructions
  README.md
Due: none

fix small mistake, where variable isnt initialized :/
  crawler/calc_coverage.py
Due: none

Update README.md
  README.md
Due: none

Link source code in footer
  react-frontend/src/pages/AttributionsPage.tsx
  react-frontend/src/pages/ContentPage.tsx
Due: build_frontend

working state
  react-frontend/src/pages/AttributionsPage.tsx
  react-frontend/src/pages/components/MapWrapper.tsx
  react-frontend/src/pages/components/maps/Heatmap.tsx
  react-frontend/src/pages/components/maps/PtMap.tsx
  react-frontend/src/pages/ctx/LoadingContext.tsx
  react-frontend/src/pages/utils/qual_layers.ts
Due: build_frontend

updated package.json, added eslint, added workspace
  backend-project/src/server/resources/datasets/pt_stops_are.py
  react-frontend/eslint.config.js
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.test.tsx
  react-frontend/src/pages/components/Checkboxes.tsx
  react-frontend/src/pages/components/DarkLightButton.tsx
  react-frontend/src/pages/ctx/LayerContext.tsx
  react-frontend/src/reportWebVitals.ts
  react-frontend/src/setupTests.ts
  react-frontend/tsconfig.json
  react-frontend/yarn.lock
  transit-availability.code-workspace
Due: build_backend, build_frontend

fix a ton of eslint issues
  react-frontend/package.json
  react-frontend/src/App.tsx
  react-frontend/src/pages/AttributionsPage.tsx
  react-frontend/src/pages/LandingPage.tsx
  react-frontend/src/pages/components/Checkboxes.tsx
  react-frontend/src/pages/components/DarkLightButton.tsx
  react-frontend/src/pages/components/FormComponent.tsx
  react-frontend/src/pages/components/MapWrapper.tsx
  react-frontend/src/pages/components/PointControlBox.tsx
  react-frontend/src/pages/components/Score.tsx
  react-frontend/src/pages/components/ScrollToButton.tsx
  react-frontend/src/pages/components/descriptions/CustomDesc.tsx
  react-frontend/src/pages/components/descriptions/HeatMap_desc.tsx
  react-frontend/src/pages/components/descriptions/PtMap_desc.tsx
  react-frontend/src/pages/components/index.tsx
  react-frontend/src/pages/components/legend.tsx
  react-frontend/src/pages/components/maps/Heatmap.tsx
  react-frontend/src/pages/components/maps/PtMap.tsx
  react-frontend/src/pages/ctx/LayerContext.tsx
  react-frontend/src/pages/ctx/LoadingContext.tsx
  react-frontend/yarn.lock
Due: build_frontend

remove callback hell => removed crashes
  react-frontend/src/components/Heatmap.tsx
  react-frontend/src/context/mapContext.tsx
  react-frontend/src/utils/utils.ts
  react-frontend/tsconfig.json
Due: build_frontend

heatmap working woo
  react-frontend/src/app.styles.tsx
  react-frontend/src/components/Heatmap.tsx
  react-frontend/src/context/mapContext.tsx
  react-frontend/src/utils/utils.ts
Due: build_frontend

add PT map and remove callback hell
  react-frontend/src/components/Heatmap.tsx
  react-frontend/src/components/PtMap.tsx
  react-frontend/src/views/contentPage.tsx
Due: build_frontend

Bottom map including layers are working now
  react-frontend/package.json
  react-frontend/src/App.tsx
  react-frontend/src/components/Checkboxes.tsx
  react-frontend/src/components/CustomDesc.tsx
  react-frontend/src/components/HeatMap_desc.tsx
  react-frontend/src/components/Heatmap.tsx
  react-frontend/src/components/MapWrapper.tsx
  react-frontend/src/components/PtMap.tsx
  react-frontend/src/components/PtMap_desc.tsx
  react-frontend/src/components/Score.tsx
  react-frontend/src/components/mapContainer.tsx
  react-frontend/src/context/LayerContext.tsx
  react-frontend/src/context/mapContext.tsx
  react-frontend/src/i18n.ts
  react-frontend/src/index.tsx
  react-frontend/src/locales/de.json
  react-frontend/src/locales/en.json
  react-frontend/src/utils/constants.ts
  react-frontend/src/utils/qual_layers.ts
  react-frontend/src/views/contentPage.tsx
  react-frontend/src/views/page.tsx
  react-frontend/yarn.lock
  transit-availability.code-workspace
Due: build_frontend

add drawing
  react-frontend/src/components/FormComponent.tsx
  react-frontend/src/components/MapWrapper.tsx
  react-frontend/src/views/contentPage.tsx
Due: build_frontend

Path conditions:
  build_backend: any of: backend-project/**/*
  build_frontend: any of: react-frontend/**/*
